@import "./../../App.scss";

.isotope-containt{
  width: 100%;
  height: 90vh;
  background: white;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  padding-top: 1rem;

  .close:before {
    content: "x";
    font-size: 2rem;
    float: right;
    margin-right: 2rem;
    color: #999999;
  }

  .isotope--block{
    margin: 1rem 1rem;
  }
  h3{
    font-size: 26px;
    color: #0885C2;
    font-weight: bold;
    margin-top: 2rem;
  }
  h4{
    font-weight: 600;
    font-size: 18px;
    margin: 1.5rem 0 1rem;
  }
  .isotope-button{
    div{
      display: flex;
      button{
        width: 23px;
        border-radius: 70%;
      }
    }
  }

  label {
    float: left;
    width: 50%;
  }

  .filter_checkbox {
    &:after {
      content: "";
      width: 2rem;
      height: 1.4rem;
      display: block;
    }

    &.filter_checkbox_concert {
      path {
        fill: #546DE5;
      }
      &:after {
        background: url(../../Assets/Icone/microphone.svg) no-repeat;

      }
      
    }

    &.filter_checkbox_cine {
      path {
        fill: #E77F67;
      }

      &:after {
        background: url(../../Assets/Icone/camera.svg) no-repeat;
      }
    }

    &.filter_checkbox_parc {
      path {
        fill: #C44569;
      }

      &:after {
        background: url(../../Assets/Icone/park.svg) no-repeat;
      }
    }

    &.filter_checkbox_monument {
      path {
        fill: #574B90;
      }

      &:after {
        background: url(../../Assets/Icone/triumph.svg) no-repeat;
      }
    }

    &.filter_checkbox_musee {
      path {
        fill: #F7D794;
      }

      &:after {
        background: url(../../Assets/Icone/museum.svg) no-repeat;
      }
    }
  }
}