@import "./../../App.scss";

.box{
  box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.25);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;

  &:last-of-type {
    height: 6rem;
  }

  .box_text{
    margin: 0 .5rem;

    p{
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .box_img{

    img{
      width: 6rem;
      height: 4.5rem;
      border-radius: 5%;
      
    }

    .block_img{
      width: 50px;
      height: 20px;
      opacity: 0.5;
      position: absolute;
      top: 0;
      border-radius: 2px;
      text-align: center;
      color: white;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .box_desc {
    margin-right: .5rem;

    p {
      font-size: .87rem;
      margin: 0 .5rem 0 0;

      &:nth-of-type(2) {
        color: #333333;
      }
    }

    .desc {
      position: relative;
      font-weight: 600;

      &:before { 
        content: '';
        width: 5px;
        height: 5px;
        background: green;
        position: absolute;
        top: 7px;
        right: 0;
        border-radius: 50%;
      }
    }
  }
  
}