@import "./../../App.scss";
.button {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 1.45rem;
  left: 50%;
  transform: translate(-50%);

  .button-item {
    background-color: $primaryColor;
    padding: .7rem 1rem;

    &.btn_cart {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;

      p:before {
        content: "";
        background-image: url(../../Assets/Icone/carte_icn.svg);
        width: 1rem;
        height: 1rem;
      }
    }

    &.btn_list {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;

      p:before {
        content: "";
        background-image: url(../../Assets/Icone/list_icn.svg);
        width: 1rem;
        height: .8rem;
      }
    }

    p {
      margin: 0 .5rem;
      font-weight: 600;
      font-size: .8rem;
    }
  }
}