@import "scss/reset.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

$primaryFont: 'Source Sans Pro', sans-serif;
$primaryColor: #0885C2;

div, a, span, h1 {
  font-family: $primaryFont;
}
.App {
  width: 100%;
  height: 100%;
}

// Button Filter
.button-filter{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $primaryColor;
  border: none;
  position: absolute;
  right: 2rem;
  z-index: 3;
  top: 1.8rem;
  padding-top: .4rem;

  &:after {
    content: "";
    mask: url(./Assets/Icone/filter_icn.svg) no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #fff;
    display: block;
  }

  &:focus {
    outline: none;
  }
}